{% extends 'base.html' %}

{% block title %} Commusings - Home {% endblock %}

{% block subheader %} Blog. {% endblock %}
{% block content %}
<h2>Articles</h2>
{% if articles %}
    {% for article in articles %}
        <p><a href="{% url 'article-view' article.slug %}"><h3>{{ article.title }}</h3></a></p>
        <p><h4>{{ article.pub_date }}</h4></p>
        <p>{{ article.teaser|linebreaks }}</p>
        <br/>
    {% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    No Articles to Display
{% endif %}
{% endblock %}