{% extends 'base.html' %}
{% block title %} Commusings - {{ article.title }} {% endblock %}
{% block subheader %} {{ article.title }} {% endblock %}
{% block content %}

    <p><h4>{{ article.pub_date|date }}</h4></p>

    <p>{{ article.content|linebreaks }}</p><br/>

    <h3>Comments</h3>
    <h4>Leave A Comment:</h4>
    <form action="" method="post" role="form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <br>
    {% if article.comment_set %}
        {% for comment in article.comment_set.all %}
        <p><h3>{{ comment.user }}</h3></p>
            {% if comment.subject %}
                <p><b>{{ comment.subject }}</b><br/>
            {% endif %}
                {{ comment.content }}
                </p>
        {% endfor %}
    {% else %}
        <p>No Comments</p>
    {% endif %}

{% endblock %}